.heading-name3{
    margin-left: 300px;
    padding-bottom: 20px;
    border-left: 6px solid rgb(0, 145, 255);
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 80px;
}



.section4{
    margin-top: 100px;
    margin-bottom: 150px;
}

